/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 25px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset End */

html{
	background-color: #F7E8D3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

img{
	width: 200px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
	margin: 25px;
	box-shadow: 5px 2px 15px black;
}


main{
    background-color: white;
    border-radius: 25px;
	padding: 20% 50%;
	padding: 50px;
	display: flex;
	justify-content: space-around;
}

nav{
	display: flex;
	padding-top: 45px;
	margin: 50px;
}

.column{
	flex-basis: 100%;
	padding: 0px 25px 0px 25px;
	text-align: center;
}

.column h2{
	font-size: 2em;
	white-space: nowrap;
	font-family: cursive, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column li{
	padding: 15px 0px 15px 0px;
}

a{
	color: gray;
}

a:hover{
	color: black;
}